@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #F8F8F8;
  --color: #29292E;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}